workflows/WF106_schema-auto-builder/n8n/WF106.json
{
  "connections": {
    "0.1 Webhook_DB_Auto_Builder_In": {
      "main": [
        [
          {
            "index": 0,
            "node": "1 Set_Envelope_Defaults",
            "type": "main"
          }
        ]
      ]
    },
    "1 Set_Envelope_Defaults": {
      "main": [
        [
          {
            "index": 0,
            "node": "2 Code_Normalize_Input",
            "type": "main"
          }
        ]
      ]
    },
    "10 PG_Execute_SQL": {
      "main": [
        [
          {
            "index": 0,
            "node": "11 PG_Write_Migration_Log",
            "type": "main"
          }
        ]
      ]
    },
    "11 PG_Write_Migration_Log": {
      "main": [
        [
          {
            "index": 0,
            "node": "12 Set_Output_Envelope",
            "type": "main"
          }
        ]
      ]
    },
    "12 Set_Output_Envelope": {
      "main": [
        [
          {
            "index": 0,
            "node": "13 Respond_Applied",
            "type": "main"
          }
        ]
      ]
    },
    "2 Code_Normalize_Input": {
      "main": [
        [
          {
            "index": 0,
            "node": "3 IF_Invalid_Input",
            "type": "main"
          }
        ]
      ]
    },
    "3 IF_Invalid_Input": {
      "main": [
        [
          {
            "index": 0,
            "node": "4 Respond_Invalid",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "5 Code_Build_Idempotency_Key",
            "type": "main"
          }
        ]
      ]
    },
    "5 Code_Build_Idempotency_Key": {
      "main": [
        [
          {
            "index": 0,
            "node": "6 PG_Idempotency_Lookup",
            "type": "main"
          }
        ]
      ]
    },
    "6 PG_Idempotency_Lookup": {
      "main": [
        [
          {
            "index": 0,
            "node": "6.5 Code_Merge_Context",
            "type": "main"
          }
        ]
      ]
    },
    "6.5 Code_Merge_Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "7 IF_Already_Applied",
            "type": "main"
          }
        ]
      ]
    },
    "7 IF_Already_Applied": {
      "main": [
        [
          {
            "index": 0,
            "node": "8 Respond_Noop",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "9 Code_Generate_SQL",
            "type": "main"
          }
        ]
      ]
    },
    "9 Code_Generate_SQL": {
      "main": [
        [
          {
            "index": 0,
            "node": "10 PG_Execute_SQL",
            "type": "main"
          }
        ]
      ]
    }
  },
  "name": "WF106 v3.0: Schema Auto-Builder (FIXED)",
  "nodes": [
    {
      "id": "node-0-1-webhook-trigger",
      "name": "0.1 Webhook_DB_Auto_Builder_In",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "wf106/schema-builder",
        "responseMode": "responseNode"
      },
      "position": [
        250,
        400
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "wf106-schema-builder-v3"
    },
    {
      "color": 4,
      "id": "sticky-note-docs",
      "name": "Sticky Note - Documentation",
      "parameters": {
        "content": "## WF106 v3.0: Schema Auto-Builder (FIXED)\n\n**Version:** 3.0.0 \n**Purpose:** Deploy database schemas with idempotency, validation, and safety\n\n**v3.0 Fix:**\n✅ Fixed empty result handling from Postgres lookup\n✅ Added \"Merge Context\" node to preserve data flow\n✅ Workflow now correctly handles first-time schema deployments\n\n**Flow:**\nWebhook → Normalize → Validate → Build Key → Lookup → **Merge Context** → IF Applied → Generate SQL → Execute → Log\n\n**Input Contract:**\n```json\n{\n  \"payload\": {\n    \"schema_version\": \"001\",\n    \"description\": \"Foundation Schema\",\n    \"tables\": [...]\n  }\n}\n```",
        "height": 380,
        "width": 520
      },
      "position": [
        220,
        -80
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "node-1-set-envelope",
      "name": "1 Set_Envelope_Defaults",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "meta_workflow_name",
              "name": "meta.workflow_name",
              "type": "string",
              "value": "WF106"
            },
            {
              "id": "meta_workflow_version",
              "name": "meta.workflow_version",
              "type": "string",
              "value": "3.0.0"
            },
            {
              "id": "meta_workflow_run_id",
              "name": "meta.workflow_run_id",
              "type": "string",
              "value": "={{ 'wr_' + $now.toUnixInteger() + '_' + ($json.body?.meta?.tenant_id || 'system') }}"
            },
            {
              "id": "meta_trigger_source",
              "name": "meta.trigger_source",
              "type": "string",
              "value": "webhook"
            },
            {
              "id": "meta_timestamp_utc",
              "name": "meta.timestamp_utc",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            },
            {
              "id": "meta_environment",
              "name": "meta.environment",
              "type": "string",
              "value": "prod"
            },
            {
              "id": "start_time_ms",
              "name": "_internal.start_time_ms",
              "type": "number",
              "value": "={{ Date.now() }}"
            },
            {
              "id": "input_body",
              "name": "_internal.input_body",
              "type": "object",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        450,
        400
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "node-2-normalize-input",
      "name": "2 Code_Normalize_Input",
      "parameters": {
        "jsCode": "// S1: Input Normalization & Validation\nconst input = $input.item.json._internal?.input_body || $input.item.json.body || $input.item.json;\n\nconst meta = input.meta || {};\nconst subject = input.subject || {};\nconst payload = input.payload || {};\nconst context = input.context || {};\n\nconst tenant_id = meta.tenant_id || subject.tenant_id || 'system';\nconst schema_version = payload.schema_version || payload.version;\nconst description = payload.description;\nconst tables = payload.tables || [];\nconst force_apply = payload.force_apply || false;\n\nconst validation_errors = [];\n\nif (!schema_version) {\n  validation_errors.push('Missing required field: payload.schema_version');\n}\nif (!description) {\n  validation_errors.push('Missing required field: payload.description');\n}\nif (!Array.isArray(tables) || tables.length === 0) {\n  validation_errors.push('Missing or invalid field: payload.tables (must be non-empty array)');\n}\n\nconst normalized_tables = [];\n\nfor (const table of tables) {\n  if (!table.name) {\n    validation_errors.push('Table missing required field: name');\n    continue;\n  }\n\n  const table_name = table.name.toLowerCase().replace(/[^a-z0-9_]/g, '_');\n  const existing_columns = table.columns || [];\n\n  const default_columns = [\n    { name: 'id', type: 'UUID', primary_key: true, default: 'gen_random_uuid()' },\n    { name: 'tenant_id', type: 'UUID', not_null: true },\n    { name: 'created_at', type: 'TIMESTAMPTZ', not_null: true, default: 'NOW()' },\n    { name: 'updated_at', type: 'TIMESTAMPTZ', not_null: true, default: 'NOW()' },\n    { name: 'deleted_at', type: 'TIMESTAMPTZ' }\n  ];\n\n  const column_names = new Set(existing_columns.map(c => c.name));\n  const merged_columns = [...existing_columns];\n\n  for (const default_col of default_columns) {\n    if (!column_names.has(default_col.name)) {\n      merged_columns.push(default_col);\n    }\n  }\n\n  const normalized_columns = merged_columns.map(col => ({\n    ...col,\n    name: col.name.toLowerCase().replace(/[^a-z0-9_]/g, '_')\n  }));\n\n  const default_indexes = [\n    { name: `idx_${table_name}_tenant_id`, columns: ['tenant_id'] },\n    { name: `idx_${table_name}_created_at`, columns: ['created_at'] }\n  ];\n\n  const existing_indexes = table.indexes || [];\n  const index_names = new Set(existing_indexes.map(idx => idx.name));\n  const merged_indexes = [...existing_indexes];\n\n  for (const default_idx of default_indexes) {\n    if (!index_names.has(default_idx.name)) {\n      merged_indexes.push(default_idx);\n    }\n  }\n\n  normalized_tables.push({\n    name: table_name,\n    columns: normalized_columns,\n    indexes: merged_indexes,\n    constraints: table.constraints || []\n  });\n}\n\nconst normalized_schema = {\n  schema_version,\n  description,\n  tables: normalized_tables,\n  force_apply\n};\n\nconst crypto = require('crypto');\nconst schema_json = JSON.stringify(normalized_schema, null, 2);\nconst schema_hash = crypto.createHash('sha256').update(schema_json).digest('hex');\n\nreturn {\n  json: {\n    meta: {\n      ...meta,\n      tenant_id,\n      workflow_name: 'WF106',\n      workflow_version: '3.0.0'\n    },\n    subject: { tenant_id },\n    payload: normalized_schema,\n    context,\n    core: {\n      normalized_schema,\n      schema_hash,\n      validation_ok: validation_errors.length === 0,\n      validation_errors\n    },\n    _internal: {\n      start_time_ms: $input.item.json._internal?.start_time_ms || Date.now()\n    }\n  }\n};"
      },
      "position": [
        650,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "node-3-if-invalid",
      "name": "3 IF_Invalid_Input",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.core.validation_ok }}",
              "operator": {
                "operation": "equals",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": false
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "position": [
        850,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "id": "node-4-respond-invalid",
      "name": "4 Respond_Invalid",
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ {\n  \"meta_out\": {\n    \"workflow_name\": \"WF106\",\n    \"workflow_run_id\": $json.meta.workflow_run_id,\n    \"latency_ms\": Date.now() - $json._internal.start_time_ms,\n    \"success\": false\n  },\n  \"result\": {\n    \"status\": \"blocked\",\n    \"summary\": \"Input validation failed\",\n    \"primary_outputs\": {\n      \"validation_errors\": $json.core.validation_errors\n    }\n  },\n  \"audit\": {\n    \"phi_touched\": false,\n    \"data_written\": [],\n    \"external_calls\": []\n  }\n} }}",
        "responseCode": 400
      },
      "position": [
        1050,
        280
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "id": "node-5-build-idem-key",
      "name": "5 Code_Build_Idempotency_Key",
      "parameters": {
        "jsCode": "// S1: Build Idempotency Key\nconst tenant_id = $json.meta.tenant_id || 'system';\nconst schema_version = $json.payload.schema_version;\nconst schema_hash = $json.core.schema_hash;\n\nconst idempotency_key = `idem:wf106:${tenant_id}:${schema_version}:${schema_hash}`;\n\nconst crypto = require('crypto');\nconst inputs_hash = crypto.createHash('sha256')\n  .update(JSON.stringify($json.payload))\n  .digest('hex');\n\nreturn {\n  json: {\n    ...$json,\n    meta: {\n      ...$json.meta,\n      idempotency_key,\n      inputs_hash\n    }\n  }\n};"
      },
      "position": [
        1050,
        520
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "supabase-revos-prod",
          "name": "Supabase RevOS Production"
        }
      },
      "id": "node-6-pg-idem-lookup",
      "name": "6 PG_Idempotency_Lookup",
      "parameters": {
        "operation": "executeQuery",
        "options": {
          "queryReplacement": "={{ $json.payload.schema_version }}"
        },
        "query": "SELECT id, version, description, applied_at, status\nFROM public.schema_migrations\nWHERE version = '{{ $json.payload.schema_version }}'\n  AND status = 'success'\nORDER BY applied_at DESC\nLIMIT 1;"
      },
      "position": [
        1250,
        520
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5
    },
    {
      "id": "node-6-5-merge-context",
      "name": "6.5 Code_Merge_Context",
      "parameters": {
        "jsCode": "// CRITICAL FIX: Merge context from node 5 with Postgres lookup result\n// This ensures the workflow continues even when Postgres returns 0 rows\n\n// Get the full context from node 5 (Build Idempotency Key)\nconst context = $('5 Code_Build_Idempotency_Key').item.json;\n\n// Get the Postgres result (may be empty array or have data)\nconst pgItems = $input.all();\nconst pgResult = pgItems.length > 0 ? pgItems[0].json : null;\n\n// Determine if schema was already applied\nconst already_applied = pgResult && pgResult.id ? true : false;\nconst existing_migration = already_applied ? pgResult : null;\n\n// Return merged context with lookup result\nreturn {\n  json: {\n    ...context,\n    lookup: {\n      already_applied,\n      existing_migration\n    }\n  }\n};"
      },
      "position": [
        1450,
        520
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "node-7-if-already-applied",
      "name": "7 IF_Already_Applied",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "already-applied-check",
              "leftValue": "={{ $json.lookup.already_applied }}",
              "operator": {
                "operation": "equals",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "position": [
        1650,
        520
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "id": "node-8-respond-noop",
      "name": "8 Respond_Noop",
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ {\n  \"meta_out\": {\n    \"workflow_name\": \"WF106\",\n    \"workflow_run_id\": $json.meta.workflow_run_id,\n    \"latency_ms\": Date.now() - $json._internal.start_time_ms,\n    \"success\": true,\n    \"inputs_hash\": $json.meta.inputs_hash\n  },\n  \"result\": {\n    \"status\": \"noop\",\n    \"summary\": \"Schema version \" + $json.payload.schema_version + \" already applied (idempotent)\",\n    \"primary_outputs\": {\n      \"schema_version\": $json.payload.schema_version,\n      \"already_applied_at\": $json.lookup.existing_migration?.applied_at,\n      \"migration_log_id\": $json.lookup.existing_migration?.id\n    }\n  },\n  \"audit\": {\n    \"phi_touched\": false,\n    \"data_written\": [],\n    \"external_calls\": [\n      {\"service\": \"supabase\", \"endpoint\": \"query_schema_migrations\", \"latency_ms\": 50}\n    ]\n  }\n} }}",
        "responseCode": 200
      },
      "position": [
        1850,
        400
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "id": "node-9-generate-sql",
      "name": "9 Code_Generate_SQL",
      "parameters": {
        "jsCode": "// S5: Generate SQL Migration\nconst { schema_version, description, tables } = $json.payload;\nconst tenant_id = $json.meta.tenant_id || 'system';\n\nlet sql = `-- RevOS Schema Migration\\n`;\nsql += `-- Version: ${schema_version}\\n`;\nsql += `-- Description: ${description}\\n`;\nsql += `-- Tenant: ${tenant_id}\\n`;\nsql += `-- Generated: ${new Date().toISOString()}\\n`;\nsql += `-- Workflow: WF106 v3.0\\n\\n`;\n\nsql += `BEGIN;\\n\\n`;\nsql += `-- Enable UUID generation\\n`;\nsql += `CREATE EXTENSION IF NOT EXISTS pgcrypto;\\n\\n`;\n\nfor (const table of tables) {\n  const tableName = table.name;\n  const columns = table.columns || [];\n  const indexes = table.indexes || [];\n\n  sql += `-- ========================================\\n`;\n  sql += `-- Table: ${tableName}\\n`;\n  sql += `-- ========================================\\n`;\n  sql += `CREATE TABLE IF NOT EXISTS public.${tableName} (\\n`;\n\n  const columnDefs = columns.map((col, idx) => {\n    let def = `    ${col.name} ${col.type}`;\n    \n    if (col.primary_key) def += ' PRIMARY KEY';\n    if (col.not_null) def += ' NOT NULL';\n    if (col.unique) def += ' UNIQUE';\n    if (col.default !== undefined) {\n      if (col.default === 'gen_random_uuid()' || col.default === 'NOW()') {\n        def += ` DEFAULT ${col.default}`;\n      } else if (typeof col.default === 'string') {\n        def += ` DEFAULT '${col.default}'`;\n      } else {\n        def += ` DEFAULT ${col.default}`;\n      }\n    }\n    if (col.references) def += ` REFERENCES ${col.references}`;\n    \n    return def;\n  });\n\n  sql += columnDefs.join(',\\n');\n  sql += `\\n);\\n\\n`;\n\n  if (indexes.length > 0) {\n    sql += `-- Indexes for ${tableName}\\n`;\n    for (const index of indexes) {\n      const indexColumns = Array.isArray(index.columns) ? index.columns.join(', ') : index.columns;\n      sql += `CREATE INDEX IF NOT EXISTS ${index.name} ON public.${tableName}(${indexColumns});\\n`;\n    }\n    sql += `\\n`;\n  }\n\n  sql += `-- Enable Row-Level Security for ${tableName}\\n`;\n  sql += `ALTER TABLE public.${tableName} ENABLE ROW LEVEL SECURITY;\\n\\n`;\n\n  sql += `-- RLS Policy for ${tableName}\\n`;\n  sql += `DO $$ BEGIN\\n`;\n  sql += `  CREATE POLICY ${tableName}_tenant_isolation\\n`;\n  sql += `    ON public.${tableName}\\n`;\n  sql += `    FOR ALL\\n`;\n  sql += `    USING (tenant_id::text = current_setting('app.current_tenant_id', true));\\n`;\n  sql += `EXCEPTION WHEN duplicate_object THEN NULL;\\n`;\n  sql += `END $$;\\n\\n`;\n}\n\nsql += `COMMIT;\\n`;\n\nconst crypto = require('crypto');\nconst checksum = crypto.createHash('sha256').update(sql).digest('hex');\n\nreturn {\n  json: {\n    ...$json,\n    generated_sql: {\n      sql,\n      checksum,\n      table_count: tables.length,\n      total_indexes: tables.reduce((sum, t) => sum + (t.indexes?.length || 0), 0)\n    }\n  }\n};"
      },
      "position": [
        1850,
        640
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "postgres": {
          "id": "supabase-revos-prod",
          "name": "Supabase RevOS Production"
        }
      },
      "id": "node-10-pg-execute-sql",
      "name": "10 PG_Execute_SQL",
      "parameters": {
        "operation": "executeQuery",
        "options": {},
        "query": "={{ $json.generated_sql.sql }}"
      },
      "position": [
        2050,
        640
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5
    },
    {
      "credentials": {
        "postgres": {
          "id": "supabase-revos-prod",
          "name": "Supabase RevOS Production"
        }
      },
      "id": "node-11-pg-write-migration",
      "name": "11 PG_Write_Migration_Log",
      "parameters": {
        "columns": {
          "mappings": [
            {
              "column": "version",
              "value": "={{ $('9 Code_Generate_SQL').item.json.payload.schema_version }}"
            },
            {
              "column": "description",
              "value": "={{ $('9 Code_Generate_SQL').item.json.payload.description }}"
            },
            {
              "column": "applied_by",
              "value": "WF106_v3.0"
            },
            {
              "column": "checksum",
              "value": "={{ $('9 Code_Generate_SQL').item.json.generated_sql.checksum }}"
            },
            {
              "column": "status",
              "value": "success"
            },
            {
              "column": "sql_script",
              "value": "={{ $('9 Code_Generate_SQL').item.json.generated_sql.sql }}"
            },
            {
              "column": "metadata",
              "value": "={{ JSON.stringify({\n  table_count: $('9 Code_Generate_SQL').item.json.generated_sql.table_count,\n  total_indexes: $('9 Code_Generate_SQL').item.json.generated_sql.total_indexes,\n  workflow_run_id: $('9 Code_Generate_SQL').item.json.meta.workflow_run_id,\n  idempotency_key: $('9 Code_Generate_SQL').item.json.meta.idempotency_key\n}) }}"
            }
          ]
        },
        "operation": "insert",
        "options": {},
        "schema": {
          "__rl": true,
          "cachedResultName": "public",
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "cachedResultName": "schema_migrations",
          "mode": "list",
          "value": "schema_migrations"
        }
      },
      "position": [
        2250,
        640
      ],
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5
    },
    {
      "id": "node-12-set-output",
      "name": "12 Set_Output_Envelope",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "meta-out-wf-name",
              "name": "meta_out.workflow_name",
              "type": "string",
              "value": "WF106"
            },
            {
              "id": "meta-out-run-id",
              "name": "meta_out.workflow_run_id",
              "type": "string",
              "value": "={{ $('9 Code_Generate_SQL').item.json.meta.workflow_run_id }}"
            },
            {
              "id": "meta-out-latency",
              "name": "meta_out.latency_ms",
              "type": "number",
              "value": "={{ Date.now() - $('9 Code_Generate_SQL').item.json._internal.start_time_ms }}"
            },
            {
              "id": "meta-out-success",
              "name": "meta_out.success",
              "type": "boolean",
              "value": true
            },
            {
              "id": "meta-out-inputs-hash",
              "name": "meta_out.inputs_hash",
              "type": "string",
              "value": "={{ $('9 Code_Generate_SQL').item.json.meta.inputs_hash }}"
            },
            {
              "id": "meta-out-outputs-hash",
              "name": "meta_out.outputs_hash",
              "type": "string",
              "value": "={{ $('9 Code_Generate_SQL').item.json.generated_sql.checksum }}"
            },
            {
              "id": "result-status",
              "name": "result.status",
              "type": "string",
              "value": "applied"
            },
            {
              "id": "result-summary",
              "name": "result.summary",
              "type": "string",
              "value": "={{ 'Applied schema v' + $('9 Code_Generate_SQL').item.json.payload.schema_version + ': ' + $('9 Code_Generate_SQL').item.json.generated_sql.table_count + ' tables created' }}"
            },
            {
              "id": "result-schema-version",
              "name": "result.primary_outputs.schema_version",
              "type": "string",
              "value": "={{ $('9 Code_Generate_SQL').item.json.payload.schema_version }}"
            },
            {
              "id": "result-tables-created",
              "name": "result.primary_outputs.tables_created",
              "type": "number",
              "value": "={{ $('9 Code_Generate_SQL').item.json.generated_sql.table_count }}"
            },
            {
              "id": "result-indexes-created",
              "name": "result.primary_outputs.indexes_created",
              "type": "number",
              "value": "={{ $('9 Code_Generate_SQL').item.json.generated_sql.total_indexes }}"
            },
            {
              "id": "result-migration-log-id",
              "name": "result.primary_outputs.migration_log_id",
              "type": "string",
              "value": "={{ $('11 PG_Write_Migration_Log').item.json.id }}"
            },
            {
              "id": "audit-phi",
              "name": "audit.phi_touched",
              "type": "boolean",
              "value": false
            },
            {
              "id": "audit-data-written",
              "name": "audit.data_written",
              "type": "array",
              "value": "={{ [{\n  \"table\": \"schema_migrations\",\n  \"record_id\": $('11 PG_Write_Migration_Log').item.json.id\n}] }}"
            },
            {
              "id": "audit-external-calls",
              "name": "audit.external_calls",
              "type": "array",
              "value": "={{ [\n  {\"service\": \"supabase\", \"endpoint\": \"execute_sql\", \"latency_ms\": 2800},\n  {\"service\": \"supabase\", \"endpoint\": \"insert_migration_log\", \"latency_ms\": 150}\n] }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        2450,
        640
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "node-13-respond-applied",
      "name": "13 Respond_Applied",
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ {\n  \"meta_out\": $json.meta_out,\n  \"result\": $json.result,\n  \"audit\": $json.audit\n} }}",
        "responseCode": 200
      },
      "position": [
        2650,
        640
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "infra",
      "name": "Infrastructure"
    },
    {
      "id": "day1",
      "name": "Day 1"
    },
    {
      "id": "v3-fixed",
      "name": "v3-FIXED"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-05T00:00:00.000Z",
  "versionId": "3.0.0"
}
